Source: ros-kinetic-watson-ins
Section: misc
Priority: optional
Maintainer: David Paz <dpazruiz@ucsd.edu>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-serial, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-watson-ins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-roscpp, ros-kinetic-rospy, ros-kinetic-sensor-msgs, ros-kinetic-serial, ros-kinetic-std-msgs, ros-kinetic-tf, ros-kinetic-tf2
Description: The watson_ins package
